h1
{
    color:blueviolet;
    font-weight: bold;
}

#tituloform
{
    font-style: italic;
}

.esverdeado
{
    background-color: fuchsia;
    text-align: center;
}

body{
    background-image: url("../imagens/fundo.jpg");
    text-align: center
}
